:root{
    --dark-blue:#081b29;
    --navy-blue:#112e42 ;
    --green-color: rgb(35, 204, 187);
  }
 

.project-conteiner{
    padding: 50px;
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
}
.project-conteiner .product-container{
    justify-content: space-around;
    
    }

/* buttom start */
.project-title {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-bottom: 50px;
}

@media (width<=992px) {
    .project-title{
        width: 100%;
    }
}

@media (width<=375px) {
    .project-title{
        width: fit-content;
    }
}
.project-title div{
    cursor: pointer;
    padding: 10px;
    box-shadow: inset 20px 20px 20px rgba(0,0,0,0.08), 
    25px 35px 20px var(--dark-blue), 
    25px 35px 30px var(--dark-blue),
    inset -20px -20px 25px var(--green-color);
    border-radius:82% 18% 76% 24% / 30% 67% 33% 70% ;
    animation: waterAnimation 2s linear infinite ;
    transition: 1s ease-in-out;
}
.active-buttom{
    border-radius: 50% !important;

}
/* buttom end */


/* Card start */
.project-conteiner .product-container .card{
padding: 15px;
width: 250px;
margin: 10px;
box-shadow: -20px 20px 20px 0px var(--dark-blue), inset 0px 1px 20px 10px rgb(35 204 187 / 26%);
background-color: var(--dark-blue);
border-radius: 30px;
}
.project-conteiner .product-container .card img{
height: 140px;
}
.project-conteiner .card-body{
    display: flex;
    flex-direction: column;
}
.project-conteiner .card .card-body .buttom{
    display: flex;
    justify-content: space-evenly;
}
.project-conteiner .card .card-body .buttom a{
padding: 10px 20px 10px 20px;
background-color: var(--dark-blue);
box-shadow: inset 0px 0px 6px 0px var(--green-color);
border: none;
}
.project-conteiner .card .card-body .buttom a:hover{
    background-color: var(--green-color);
    color: var(--dark-blue);
    }
.project-conteiner .card .card-title{
    color: var(--green-color);
    font-weight: 700;
    letter-spacing: 2px;
} 

.project-conteiner .card .card-text{
    color: white;
    opacity: 0.7;
}
/* Card End */



