*{
    box-sizing: border-box;
}
:root{
    --dark-blue:#081b29;
    --navy-blue:#112e42 ;
    --green-color: rgb(35, 204, 187);
    --margin-md: 20px
  }
  /*  */
.contact-container{
  width: 100% !important;
  height: 100% !important;
  display: flex;
  justify-content:center ;
  align-items: center;
  padding: 20px;
  }
.contact-mazen{
height: 100%;
  width: 100%;
}
/*  */
  .contact-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px ;
    background-color: var(--dark-blue);
    max-height: 500px;
    border-radius: 30px 0px 0px 30px;
  }

  .contact-info h2{
    color: white;
    font-weight: 700;
    letter-spacing: 1.5px;
    position: relative;
  }

  .contact-info h2::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 5px;
    background-color: var(--green-color);
    bottom: -9px;
    left: 12px;
    border-radius: 4px;
}

.icon{
  color: var(--green-color);
  position: relative;

}

.icon::before{
  content: attr(data);
  position: absolute;
  margin-left: 30px;
  color: white;
}
.map iframe{
  width: 100%;

}


/*  */
  .send-email{
    background-color: var(--green-color);
    max-height: 500px;
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 0px 30px 30px 0px;
  }
  .send-email::before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: var(--green-color);
    clip-path: polygon(50% 0, 0 50%, 50% 100%);
    top: 28px;
    left: -22px;
}

  .send-email form{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
  }
  .send-email form input  {
    width: 100%;
   padding: 15px;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 30px;
      outline: none;
  }

  .send-email form input::placeholder{
    color: white;
  }
  .send-email form [type="submit"]{
   width: 40%;
  background-color: white;
  color: var(--green-color);
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
  border: none;
  background-color: var(--navy-blue);
  
  }
  .send-email form [type="submit"]:hover{
    background-color: var(--dark-blue);
    color: white;
  }
  .send-email form textarea{
    padding: 10px;
    width: 100%;
    height: 30%;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 30px;
    outline: none;
  }
  .send-email form textarea::placeholder{
    color: white;
  }


  @media (width<768px) {
    .contact-info{
      border-radius: 30px 30px 0px 0px;
    }
    .send-email{
      border-radius: 0px 0px 30px 30px;
    }
    .send-email form input{
      margin-bottom: var(--margin-md);
    }
    .send-email form  textarea{
      margin-bottom: var(--margin-md);
    }
    .send-email::before {
      clip-path: polygon(50% 0, 0 50%, 100% 50%);
      left: 420px;
      top: -20px;
    }
    .send-email form textarea{
      height: 300px;
    }
    .contact-info h2{
      margin-bottom: var(--margin-md);
    }
    .contact-info > div{
      margin-bottom: var(--margin-md);
    }
    .map iframe{
margin-top: var(--margin-md);
    }
  }
  @media (width<510px) {
    .send-email::before {
      left: 337px;
   
    }
  }

  @media (width<418px) {
    .send-email::before {
      left:150px;
   
    }
  }
  @media (width<314px) {
    .icon::before {
    font-weight: bold;
      font-size: 12px;
  }
  }
  @media (width<250px) {
    .icon::before {
    font-weight: bold;
      font-size: 9px;
  }
  .send-email::before {
    left: 100px;
 
  }
  }

  @media (width<205px) {
    .icon::before {
    font-weight: bold;
      font-size: 6px;
  }
 
  }
  /* .contact-info{
    background-color: var(--dark-blue);
    box-shadow: inset 0px 1px 20px 10px rgb(35 204 187 / 26%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
.contact-container h1{
        color: white;
        position: relative;
        margin-bottom: 50px;
  }
.contact-container h1::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: var(--green-color);
    bottom: -13px;
    border-radius: 10px;
    left: 12px;
  }

.email, .call, .location{
    display: flex;
    justify-content: space-between;
}
.contact-info .icon{
    border: 1px solid var(--green-color)  ;
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info .icon svg{
    color: var(--green-color) !important;
}
.contact-info .icon:hover{
  background-color: var(--green-color) !important;
}
.contact-info .icon:hover svg{
color: white !important;
}
.info{
   color: white;
    width: 230px;
    margin-left: 10px;
}
.map{
    width:250px ;
    height: 350px;
    margin-top: 25px;
}
.map iframe{
    width:100% ;
    height: 100%;
    border-radius:10px ;
} */
/* ////// End Left //////// */
/* .send-email{
  width:600px ;
  background-color: var(--dark-blue);
  padding:25px;
  border-radius: 15px;
  box-shadow: inset 0px 1px 20px 10px rgb(35 204 187 / 26%);
}
.send-email form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:100% ;

}
.send-email form input ,.send-email form textarea{
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 10px;

}
.send-email form input:focus{
  border: none;
  outline: none;
}
.send-email form textarea:focus{
  outline: solid 3px var(--green-color);
}
.send-email form .massege{
  height: 300px;
 
}

.send-email form  input[type="submit"]{
background-color: var(--green-color);
color: white ;
box-shadow: 1px 1px 13px 3px rgb(35 204 187 / 68%);
}
.social-media a:hover{
  background-color: var(--green-colot);
} */
/* @media (max-width:980px) {
  .contact-info{
    margin-bottom: 30px;
    width: 100%;
  }
  .map{
    width: 100%;
  }
} */
