*{
    box-sizing: border-box;
}
:root{
    --dark-blue:#081b29;
    --navy-blue:#112e42 ;
    --green-colot: rgb(35, 204, 187);
  }

.home{
    /* margin-top: 5rem; */
    width: 100% !important;
    height: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px !important;
}

.home .prsonal-img{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: start;
        box-shadow: inset 20px 20px 20px rgba(0,0,0,0.08), 
        25px 35px 20px var(--dark-blue), 
        25px 35px 30px var(--dark-blue),
        inset -20px -20px 25px var(--green-color);
        border-radius:82% 18% 76% 24% / 30% 67% 33% 70% ;
        animation: waterAnimation 2s linear infinite ;
}
@keyframes waterAnimation {
   20%{
        border-radius:82% 18% 76% 24% / 30% 67% 33% 70% ;
    }
    40%{
        border-radius: 50%;  
    }
   60%{
    border-radius:30% 67% 33% 70% / 82% 18% 76% 24%;
    }
    80%{
        border-radius: 50%;  
    }
    100%{
        border-radius:82% 18% 76% 24% / 30% 67% 33% 70% ;
    }
}
.home .main-img{
    position: relative;
    width: 70%;
    z-index: -1;
    bottom: 30px;
} 

.social-media-home{
    margin-top: 30px;
    max-width: 330px;
}

.home .main-description .card{
background-color: transparent !important ;
text-align: start;
border: 0 !important;
}
.home .main-description .card-title {
    color: white;
    font-weight: bold;
    font-size: 32px;
}

.home .main-description .card-subtitle{
    color: rgb(35, 204, 187) !important;
    font-weight: bold;
    font-size: 32px;
}


.home .main-description p{
    text-align: start;
    color: white;
    opacity: 0.5;
}
.home .main-description  .resume{
    text-decoration: none;
    width: 100px;
  border-radius: 12px;
    border: 1px solid rgb(35, 204, 187);
    padding: 6px 10px 6px 10px;
    font-weight: 700;
    color:rgb(35, 204, 187) ;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home .main-description  a:hover{
    color: #081b29;
    background-color:rgb(35, 204, 187) ;
}
.home .card  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

@media (width<1400px) {
    .home .prsonal-img::before {

        height: 87%;
        right: 22px;
    }
}
@media (width<1200px) {
    .home .prsonal-img::before {
            height: 84%;
    }
    .home .main-img {
        
        bottom: 30px ;
    }
}
 @media (width<992px) {
    .home .main-img {
        width: 83%;
        bottom: -26px ;
    }
    .home .prsonal-img::before {
        width: 100%;
        height: 80%;
        top: 15px;
        right: -8px;
    }
    .home .prsonal-img {
        top: 0px;
    }
}
@media (width<768px) {
    .home{
        align-items: start;
    }
    .home .prsonal-img::before {
        width: 99%;
        height: 97%;
        top: 15px;
        right: -8px;
    }
    .home .main-img {
        width: 78%;
        bottom: 30px ;
    }
}
@media (width<445px) {
    .home .main-img {
        width: 73%;
    }
    .home .prsonal-img::before {
        height: 96%;
        width: 97%;
        top: 16px;
        right: -4px;
    }
}
@media (width<401px) {
    .home .prsonal-img::before {
        height: 95%;
        width: 94%;
        top: 16px;
        right: 3px;
    }
 
}


@media (max-width:360px) {
    .home .prsonal-img::before {
        height: 94%;
    }
    .social-media-home{
        /* width: 225px;
        margin-left:-20px; */
    }
    .social-media a{
        width: 40px !important;
        height: 40px !important;
    }
    .home .main-img {
        bottom: 15px ;
    }
}
@media (max-width:270px) {
    .social-media{
        width: 175px;

    }
    .social-media a{
        width: 30px !important;
        height: 30px !important;
    }
}

