:root{
    --dark-blue:#081b29;
    --navy-blue:#112e42 ;
    --green-color: rgb(35, 204, 187);
   
  }

  .skill-button-rate-contaier{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    /* height: 100vh; */
    height: 60dvh;
    margin: 20px 5px;
  }
@media (height < 970px) {
  .skill-button-rate-contaier{
    height: 70dvh;
  }
}
@media (height < 830px) {
  .skill-button-rate-contaier{
    height: 80dvh;
  }
}
@media (height < 720px) {
  .skill-button-rate-contaier{
    height: 100dvh;
  }

}
  .skill-button-rate-contaier .button-skill{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* width:400px; */
    width: 100dvw;
    flex-wrap: wrap;
    align-content: space-between;
    height: 150px;
    margin-top: 20px;
  }
  .skill-button-rate-contaier .button-skill div{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: calc(90% /2); */
    width:calc(90% / 4);
    color: white;
    border: 1px solid var(--green-color);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    
   background-color: var(--dark-blue);
   box-shadow: inset 0px 1px 20px 10px rgb(35 204 187 / 26%);
  }
  .skill-button-rate-contaier .button-skill div:hover{
    background-color: var(--green-colot);
box-shadow: inset 0px 0px 16px 5px black;
color: var(--navy-blue);
  }
  .skill-button-rate-contaier .button-skill .active{
    background-color: var(--green-colot);
    box-shadow: inset 0px 0px 16px 5px black;
    color: var(--navy-blue);
}


@media (max-width:3032px) {
  .skill-button-rate-contaier{
justify-content: space-evenly;
  }

}
@media (max-width:896px) {
  /* .rate-Skill-container{
    width: 700px;
  } */
  .skill-button-rate-contaier{
   justify-items: center;
   
  }
  .skill-button-rate-contaier .button-skill{
     margin-top: 20px;
    justify-content: space-between;

  }

}
@media (width > 768px) {
  .skill-button-rate-contaier .button-skill {
    width: 100dvw;

  }
}
@media (width > 570px) {
  .skill-button-rate-contaier .button-skill {
    width: 100dvw;

  }
}

@media (width < 768px) {
  .skill-button-rate-contaier .button-skill div{
    width: calc(90% /2);
 }

  }

@media (max-width:420px) {
  .skill-button-rate-contaier .button-skill{
     margin-top: 15px;
    justify-content: space-between;

  }

}
@media (max-width:355px) {
  .skill-button-rate-contaier .button-skill div{
    padding: 15px !important;
   font-weight: 100px !important;
   font-size: 12px;
  }
  .skill-button-rate-contaier .button-skill{
   align-content: space-between;
   height: 120px !important;
  }
}
@media (max-width:310px) {
  .rate-Skill-container{
    width: 230px;
  }


}
@media (max-width:290px) {
  .skill-button-rate-contaier .button-skill div{
    padding: 10px !important;

   font-weight: 100px !important;
   font-size: 10px;
  }
  .skill-button-rate-contaier .button-skill{
   height: 90px !important;
   
  }
}
/*  */
@media (max-height:675px) {
  .skill-button-rate-contaier {

    height:auto;
}
}

